* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to right, #222 0%, #333 100%);
	padding-top: 1px;
	height: 100vh;
}
.title {
	color: #f1f1f1;
	text-align: center;
	font-size: 40px;
	margin-top: 10%;
	text-shadow: 1px 1px 5px rgb(104, 104, 104);
}
.title .tac {
	color: #1adfc5;
}
.display {
	color: #f1f1f1;
	font-size: 25px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
} 
.hide {
	display: none;
}
.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	max-width: 300px;
}
.tile {
	border: 1px solid #f1f1f1;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	cursor: pointer;
}
.playerX {
	color: cornflowerblue;
}
.playerO {
	color: #00ffa2;
}
.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

#reset {
	background: linear-gradient(to top, rgb(7, 122, 122),#0b9f69 );
	color: #f1f1f1;
	padding: .6rem 1.2rem;
	border-radius: 8px;
	border: none;
	font-size: 20px;
	margin-top: 1em;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 578px) {
	.title {
		font-size: 30px;
	}
	.tile {
		font-size: 35px;
	}
	.display {
		font-size: 18px;
	}
	#reset {
		font-size: 16px;
		margin-bottom: 30px;
	}
}